<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adivina el número</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #ae7849;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/img/logo.svg" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top">
          Adivina el Número
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/play">Jugar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/authors">Autores</a>
            </li>
          </ul>    
        </div>
      </div>
    </nav>
    <div class="container m-3">
      <h1>¡Adivina el número!</h1>
      <p>
        Bienvenido a este sencillo y divertido juego de adivinanza. Tu
        objetivo es simple: adivinar el número secreto que la computadora ha
        elegido al azar. Con cada intento, recibirás pistas para saber si
        estás cerca o lejos de la respuesta correcta. ¿Podrás encontrar el
        número en la menor cantidad de intentos? ¡Pon a prueba tu intuición y
        habilidades de deducción!
      </p>
      <div class="text-center">
      <a href="/play" class="btn btn-primary p-3 m-3">¡Comienza a jugar ahora!</a>
    </div>
    <div style="display: flex; justify-content: center; gap: 20px;">
        <img src="/img/num1.png" style="width: 300px; height: auto;" alt="número 1">
        <img src="/img/num2.png" style="width: 300px; height: auto;" alt="número 2">
        <img src="/img/num3.png" style="width: 300px; height: auto;" alt="número 3">
    </div>
    <hr>
    </div>    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>